/* for view mode also */
.wrapper-container {
	display: flow-root;
}

/* VE only */
.ve-ce-surface {
	.wrapper-container {
		border: #eaeaea 1px solid;
		padding: 40px 10px 10px 10px;
		position: relative;

		.wrapper-header {
			cursor: pointer;
			background-color: var( --background-color-interactive, #eaecf0 );

			&:hover {
				background-color: var( --background-color-interactive--hover, #dadde3 );
			}

			&:active {
				background-color: var( --background-color-interactive--active, #c8ccd1 );
			}
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 10px;

			*::selection {
				background: transparent;
			}
		}

		&.selected {
			border: #cecece 1px solid;

			.wrapper-header {
				background-color: #cecece;
			}

			*::selection {
				background: transparent;
			}
		}
	}
}
