.ext-visualEditorPlus-inlineTextInspector {
	min-width: 220px;

	.ext-visualEditorPlus-inlineTextInspector-element {
		display: inline;

		.ext-visualEditorPlus-inlineTextInspector-element-header {
			display: table;

			.ext-visualEditorPlus-inlineTextInspector-element-icon,
			.ext-visualEditorPlus-inlineTextInspector-element-label {
				display: table-cell;
				vertical-align: middle;
			}

			.ext-visualEditorPlus-inlineTextInspector-element-label {
				padding-left: 10px;
			}
		}
	}
}
